<div
  class="bee-nav"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="10px"
>
  <label>
    <img
      src="./../../../../assets/icons/bee.svg"
      alt="bee"
      style="width: 36xp; height: 36px;"
    />
  </label>
  <div
    *ngIf="!isLoggedIn"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <app-login></app-login>
    <app-signin></app-signin>
  </div>
  <div *ngIf="isLoggedIn">
    <h4>
      BeeResponsible
    </h4>
  </div>
</div>
