<div
  class="bee-nav"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10px"
>
  <label>
    <img
      src="./../../../../assets/icons/bee.svg"
      alt="bee"
      style="width: 36xp; height: 36px; margin-left:50px;"
    />
  </label>
  <div
    *ngIf="!isLoggedIn"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    style="margin-right:40px;"
  >
    <app-login></app-login>
    <app-signin style="margin-right:50px;"></app-signin>
  </div>
  <div *ngIf="isLoggedIn"
  style="margin-right:40px;">
    BeeResponsible
  </div>
</div>
