<p>{{ title }}</p>
<agm-map [latitude]="location.latitude" [longitude]="location.longitude"
(mapReady)="onMapReady($event)" 
(mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
  <div *ngFor="let bee of beeHives">
      <agm-marker
      [iconUrl]="beeIcon" [latitude]="bee.coordinate.lat" [longitude]="bee.coordinate.lng"></agm-marker>
  </div>
  <div *ngFor="let dz of zones">
      <agm-rectangle 
      [fillColor]="zoneColor" 
      [fillOpacity]=".5" 
      [north]="dz.upperLeftPoint.lat" 
      [south]="dz.bottomRightPoint.lat"
      [east]="dz.bottomRightPoint.lng" 
      [west]="dz.upperLeftPoint.lng"> 
  </agm-rectangle>
  </div>
</agm-map>

<mat-slide-toggle
          class="example-margin"
          color="primary"
          ([ngModel])="checked"
          (change)="onChange($event)"
          >
        Slide me!
      </mat-slide-toggle>

