<agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom"
(mapReady)="onMapReady($event)" 
(mapClick)="beehivesActionsStatus.addBool ? addMarker($event.coords.lat, $event.coords.lng):null">
  <div *ngFor="let bee of beeHives">
      <agm-marker
      [iconUrl]="beeIcon" [latitude]="bee.coordinate.lat" [longitude]="bee.coordinate.lng"
      [markerDraggable]="beehivesActionsStatus.updateBool"
      (dragEnd)="markerDragEnd($event,bee)"
      (markerClick)="beehivesActionsStatus.deleteBool ? markerClicked(bee):null"
      ></agm-marker>
  </div>
  <div *ngFor="let dz of zones">
      <agm-rectangle 
      [fillColor]="zoneColor" 
      [fillOpacity]=".5" 
      [north]="dz.upperLeftPoint.lat" 
      [south]="dz.bottomRightPoint.lat"
      [east]="dz.bottomRightPoint.lng" 
      [west]="dz.upperLeftPoint.lng"> 
  </agm-rectangle>
  </div>
</agm-map>


