<div
  class="sm-bottom-bar-conatiner width-100"
  fxLayout="row wrap"
  fxLayoutAlign="space-around center"
>
  <app-sm-expansion-panel></app-sm-expansion-panel>
  <!-- <mat-icon
    mat-fab
    matTooltip="Insert sprayed area with GPS"
    matTooltipPosition="above"
    (click)="location()"
    color="primary"
  >
    filter_center_focus
  </mat-icon>
  <mat-icon
    mat-fab
    matTooltip="Insert sprayed area with GPS"
    matTooltipPosition="above"
    (click)="location()"
    color="primary"
  >
    widgets
  </mat-icon>
  <mat-icon
    mat-fab
    matTooltip="Insert sprayed area with GPS"
    matTooltipPosition="above"
    (click)="location()"
    color="primary"
  >
    format_shapes
  </mat-icon> -->
  <!-- <button
    mat-fab
    matTooltip="Insert sprayed area with GPS"
    matTooltipPosition="above"
    (click)="(onClick)"
    color="primary"
  >
  <mat-icon class="mat-18">location_searching</mat-icon>
  </button>
  <button
    mat-fab
    matTooltip="Options for your Beehives"
    matTooltipPosition="above"
    (click)="(onClick)"
    color="primary"
  >
    Beehive
  </button>
  <button
    mat-fab
    matTooltip="Insert sprayed area with plot ID"
    matTooltipPosition="above"
    (click)="(onClick)"
    color="primary"
  >
    Plot ID
  </button> -->
</div>
