.not-font-color {
  color: #ffff;
}

.my-info--danger {
  background-color: red;
}
.my-info--warning {
  background-color: orange;
}
.my-info--healthy {
  background-color: green;
}

mat-card {
  margin: 10px;
}
.width-80 {
  width: 80%;
}



