.not-font-color {
  color: #ffff;
}

.my-info--danger {
  background-color: #e74c3c;
}
.my-info--warning {
  background-color: orange;
}
.my-info--healthy {
  background-color: green;
}

mat-card {
  margin: 10px;
  max-height:700px;
  overflow-y:scroll;
}
.width-80 {
  width: 80%;
}



