<mat-tab-group *ngIf="isLoggedIn" class="width-100">
  <mat-tab label="NOTIFICATIONS">
    <div
      class="width-100"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <button
        mat-raised-button
        *ngFor="let notification of $myNotifications | async"
        class="width-100 not-font-color"
        [ngClass]="{
          'my-info--danger': notification.status === 2,
          'my-info--warning': notification.status === 1,
          'my-info--healthy': notification.status === 0
        }"
      >
        Name: {{ notification?.beehives.name }} ({{
          notification?.beehives.count
        }})
      </button>
    </div>
  </mat-tab>
  <mat-tab label="MY PROPERTY" class="card-body">
    <div class="width-100">
      Plots
      <br />
      <br />
      <div
        class="width-100"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <button
          mat-raised-button
          *ngFor="let plot of $myPlots | async"
          class="width-100"
          (click)="goToPlotOnMap(plot)"
        >
          Name: {{ plot?.name }}{{ plot?.pk }}
        </button>
        <br />
      </div>
    </div>
    <div class="width-100">
      Beehives
      <br />
      <br />
      <div
        class="width-100"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <button
          mat-raised-button
          *ngFor="let beehives of $myBeehives | async"
          class="width-100"
          (click)="goToBeehivesOnMap(beehives)"
        >
          Name: {{ beehives?.name }}{{ beehives?.pk }} ({{
            beehives?.hive_count
          }})
        </button>
        <br />
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div *ngIf="!isLoggedIn">
  <h3>Log in to see your info :D</h3>
</div>
