.bee-map-legend--color {
  width: 16px;
  height: 16px;
  border-radius: 50px;
}

.bee-map-legend--color-healthy {
  background-color: green;
}

.bee-map-legend--color-warning {
  background-color: orange;
}

.bee-map-legend--color-danger {
  background-color: red;
}
