<footer
  class="bee-footer width-100"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="10px"
>
  <div></div>
  <div
    class="width-100"
    fxLayout="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="10px"
  >
    <div>Lokacija</div>
    <div>Number</div>
    <div>mail</div>
  </div>
  <div
    class="width-100"
    fxLayout="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="10px"
  >
    <h5>About the BeeResponsible</h5>
    <p>Neki fin opis ili tako nesto</p>
    <p>Zakljucak</p>
  </div>
  <div></div>
</footer>
