@import "./../../../../styles.scss";

.bee-footer {
  background-color: $color-grey;
  color: $color-yellow;
}

.bee-footer-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: yellow;
}
// .bee-footer-icon-call {
//   background-image: url("./../../../../assets/icons/call-icon.png");
// }
