<footer
  class="bee-footer width-100"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="10px"
>
  <div fxFlex="20"></div>
  <div
    class="width-100"
    fxLayout="column"
    fxLayoutAlign="space-around start"
    fxLayoutGap="10px"
    fxFlex
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img
        src="./../../../../assets/icons/telephone.svg"
        alt="Number"
        style="width: 24px; height: 24px;"
      />
      <label>+381/ 007 007</label>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img
        src="./../../../../assets/icons/maps-and-flags.svg"
        alt="Location"
        style="width: 24px; height: 24px;"
      />
      <label>Mars, Novopeščcana bez br.</label>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <img
        src="./../../../../assets/icons/envelope.svg"
        alt="mail"
        style="width: 24px; height: 24px;"
      />
      <label>mars@elon.com</label>
    </div>
  </div>
  <div fxFlex="20"></div>
  <div
    class="width-100"
    fxLayout="column"
    fxLayoutAlign="space-around start"
    fxLayoutGap="10px"
    fxFlex
  >
    <h3>About the BeeResponsible</h3>
    <p>
      For breathing we need plants and plants need bees. So for me math here is
      simple, just like using this app.
    </p>
  </div>
  <div fxFlex="20"></div>
</footer>
